.header{
    border-color:aqua;
    border-radius:100px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.slogan{
    font-size:1em;
    color:blue;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}

.quizzes-list{
    list-style-type: square;
    font-size: 1em;
    max-width: fit-content;
    margin-left: center;
}

.quiz1{
    border-color: black;
    border-radius: 50px;
    max-width: fit-content;
    margin

}