<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/faq.css">
</head>
<body>
    <div class="container">

        <h1 id="head">FAQs</h1>
        
        <div class="list">
            <h2>Who made the website?</h2>
                <p>Conor Smallwood and Dylan Greenwood are proud owners and creators of this website.</p>
            <h2>Do I need to complete all the quizzes?</h2>
                <p>Nope, you can choose any quiz you want.</p>
            <h2>How can I check my answers?</h2>
                <p>Just click the check answers button.</p>
            <h2>How are my answers marked?</h2>
                <p>Your answers are graded by a very intelligent algorithm.</p>
        </div>

    </div>
</body>
</html>