<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index-style.css">
</head>
<body>
    <div class="header"><h1>math-quest</h1></div>
    <div class="slogan"><h1>level up your maths skills</h1></div>
    <div class="index-links">
    <div class="quiz1"><h2><a href="quiz1.html">Year 9</a></h2></div>
    <div class="quiz2"><h2><a href="quiz2.html">Year 10</a></h2></div>
    <div class="quiz3"><h2><a href="quiz3.html">Year 11</a></h2></div>
    </div>
</body>
</html>