<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index-style.css">
</head>
<body>
    <div class="header"><h1>math-quest</h1></div>
    <div class="slogan"><h1>level up your maths skills</h1></div>
    <div class="index-links">
    <ol>
        <li><div class="quiz1"><h2><a href="quiz1.html">Quiz 1</a></h2></div></li>
        <li><div class="quiz2"><h2><a href="quiz2.html">Quiz 2</a></h2></div></li>
        <li><div class="quiz3"><h2><a href="quiz3.html">Quiz 3</a></h2></div></li>
        <li><div class="quiz4"><h2><a href="quiz4.html">Quiz 4</a></h2></div></li>
        <li><div class="quiz5"><h2><a href="quiz5.html">Quiz 5</a></h2></div></li>
        <li><div class="quiz6"><h2><a href="quiz6.html">Quiz 6</a></h2></div></li>
        <li><div class="quiz7"><h2><a href="quiz7.html">Quiz 7</a></h2></div></li>
        <li><div class="quiz8"><h2><a href="quiz8.html">Quiz 8</a></h2></div></li>
        <li><div class="quiz9"><h2><a href="quiz9.html">Quiz 9</a></h2></div></li>
    </ol>
    </div>
</body>
</html>